Source: ros-kinetic-opencv-apps
Section: misc
Priority: extra
Maintainer: Kei Okada <kei.okada@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-compressed-image-transport, ros-kinetic-cv-bridge, ros-kinetic-dynamic-reconfigure, ros-kinetic-image-proc, ros-kinetic-image-transport, ros-kinetic-image-view, ros-kinetic-message-generation, ros-kinetic-nodelet, ros-kinetic-rosbag, ros-kinetic-roscpp, ros-kinetic-rosservice, ros-kinetic-rostest, ros-kinetic-rostopic, ros-kinetic-std-msgs, ros-kinetic-std-srvs, ros-kinetic-topic-tools
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-opencv-apps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cv-bridge, ros-kinetic-dynamic-reconfigure, ros-kinetic-image-transport, ros-kinetic-message-runtime, ros-kinetic-nodelet, ros-kinetic-roscpp, ros-kinetic-std-msgs, ros-kinetic-std-srvs
Description: opencv_apps provides various nodes that run internally OpenCV's functionalities and publish the result as ROS topics.
 With opencv_apps, you can skip writing OpenCV application codes for a lot of its functionalities by simply running a launch file that corresponds to OpenCV's functionality you want. You can have a look at all launch files provided here (be sure to choose the correct branch. As of Sept. 2016 indigo branch is used for ROS Indigo, Jade, and Kinetic distros). Some of the features covered by opencv_apps are explained in the wiki. The most of code is originally taken from https://github.com/Itseez/opencv/tree/master/samples/cpp
